body {
	margin:0 0 0 0;
}

#lightboxBG {
	width:100%;
	height:100%;
	background-color:#000;
	position:fixed;
	opacity:.8;
	display:none;
	cursor:pointer;
}

#lightboxFG {
	border:1px solid #ccc;
	width:800px;
	background-color:#fcfcfc;
	position:fixed;
	height:2000px;
	left:50%;
	margin-left:-400px;
	display:none;
}

#images {
	position:fixed;
	top:25%;
	margin-left:2%;
}

#images ul li {
	list-style-type:none;
	width: 130px; 
  	height:150px; 
  	float :left;
  	vertical-align:top; 
}

#images ul li img {
	width:125px;
}

#text {
	position:fixed;
	margin-right:35%;
	margin-left:5%;
	padding-top:100px;
	top:30%;
}

#wrapper {
	margin:0 auto;
	text-align:center;
}

button {
	background-color:white;
	font-size:100%;
	padding:20px;
	text-transform:uppercase;
	border: 1px solid #ccc;
	color:#00a4e4;
	margin-top:35%;
}